<div class="container">



<table>
  <tbody>
    <tr><td>adresse imm. principal :</td><td>
      <% @dossier.immeubles.each do |immeu|%>
        <% immeu.adresses.principale.each do |adr|%>
          <%= adr.numero_rue %> <%= adr.contenu %><br/>
          <%= adr.code_postal%> <%= adr.commune %>
       <%end%>
     <%end%>
    </td></tr>

    <tr><td>Propriétaire principal :</td><td>
    <div class="large">
      <%= @proprio[0].username %>
      <% @proprio[0].adresses.principale.each do |adr| %>
        <%= adr.commune %>
       <%end%>

    </div></td></tr>


    <tr><td>secteur :</td>
    <td>
    <%= @list.nom %>
    </td></tr>
      <tr><td>commentaires</td><td><%= simple_format @dossier.commentaire %></td></tr>
  </tbody>
</table>
      <p><%= @dossier.immeubles.count %>
      </p>
      commentaires :

      <div class="info">

      </div>
<span class="small quiet right"> créé le <%= l(@dossier.created_at.to_date) %> - modifié le <%= l(@dossier.updated_at.to_date) %></span>
</div>
historique
<hr/>
