<div class="container outline">

<table>
  <tbody>
    <tr><td>Nombre d'immeubles dans le dossier :</td><td><%= @dossier.immeubles.count %></td></tr>
    <tr><td>adresse imm. principal :</td><td>

      <% @dossier.immeubles.principal.each do |immeu|%>
        <%= immeu.numero_rue %> <%= immeu.adresse %><br/>
        <%= immeu.code_postal%> <%= affiche_liste(immeu.commune,'') %><br/>

    </td></tr>

    <tr><td>Propriétaire(s) :</td><td>
    <div class="large">
      <% immeu.users.proprio_destinat.each do |proprio|%>
        <%= proprio.username %>
      <%end%><br/>
    </div></td></tr>
      <%end%>

    <tr><td>secteur :</td>
    <td><%= affiche_liste(@dossier.secteur,'') %>
    </td></tr>
  </tbody>
</table>
      <p>
      </p>
      commentaires :
      <div class="box">
        <%= simple_format @dossier.commentaire %>
      </div>
<span class="small quiet right"> créé le <%= l(@dossier.created_at.to_date) %> - modifié le <%= l(@dossier.updated_at.to_date) %></span>
</div>
<hr/>
