<div class="container outline">

<table>
  <tbody>
    <tr><td>Nombre d'immeubles dans le dossier :</td><td><%= @dossier.immeubles.count %></td></tr>
    <tr><td>adresse imm. principal :</td><td>

      <% @dossier.immeubles.principal.each do |immeu|%>
        <% immeu.adresses.each do |adr|%>
          <%= adr.numero_rue %> <%= adr.contenu %><br/>
          <%= adr.code_postal%> <%= adr.commune %><br/>
       <%end%>
     <%end%>
    </td></tr>

    <tr><td>Propriétaire principal :</td><td>
    <div class="large">
      <%= @proprio[0].username %>

    </div></td></tr>


    <tr><td>secteur :</td>
    <td>
    <%= @list_sect.nom %>
    </td></tr>
      <tr><td>commentaires</td><td></td></tr>
  </tbody>
</table>
      <p>
      </p>
      commentaires :
      <div class="box">
        <%= simple_format @dossier.commentaire %>
      </div>
<span class="small quiet right"> créé le <%= l(@dossier.created_at.to_date) %> - modifié le <%= l(@dossier.updated_at.to_date) %></span>
</div>
historique
<hr/>
