
<h3>Historique</h3>
<!-- TODO ranger dans l'ordre inverse des versions-->
<% @audits.each do |r|%>
<div class="section">
<div class="two column">
<span class="quiet"> <%= r.version %></span>-
<%= image_tag(r.action.to_s+".png", :class =>"class") %> <%= l(r.created_at) %>

</div>

<div class="one column">
  <div class="container">
    <%= User.find_by_id(r.user_id).username %> <!-- nom du modificateur -->
  </div>

</div>
<div class="four column">
    <% if r.action=="create"%>
    <div class="fond">Création : <%= r.auditable_type %></div>
    <% elsif r.action=="destroy" %>
    <div class="fond">Effacement : <%= r.auditable_type %></div>
    <% else %>
    <% r.audited_changes.each do |chang|%>
      <div class="fond">dans <%= r.auditable_type %> : <%= chang.first %></div>
        <% @diff = Differ.diff_by_word(chang[1][1], chang[1][0]) %>
        <%# simple_format @diff.format_as(:html), :class => 'small' %>
      <%end%>
   <%end %>
   <div class="small quiet "> <!-- TODO mettre en place les commentaires -->
  <% if r.comment%>
    <%= r.comment %>
  <% else %>
    pas de commentaires
  <%end%>
  </div>
</div>
</div>
<%end %>
