<% title "LISTE DES DOSSIERS" %>
<h1>LISTES DES DOSSIERS</h1>

<div class="twelve_column section">
    <!--
    recherche
    -->
  <div class="nine column">
        <tr>
        <%= simple_form_for @search do |f| %>
        <td><span class="large"> <%= f.input :reference_contains, :as => :search, :label => false %></span></td>
        <td><%# f.input :dossiers_communes_equals, :label => false, :collection => Liste.commune , :label_method => 'nom' %></td>
        <td><%= f.input :secteur_contains, :label => false, :collection => Liste.secteur, :label_method => 'nom' %></td>
        <td></td>
        <td><%= f.button :submit %><%= link_to 'RAZ', root_path, :class => "destroy_link" %></td>
        <td></td>
        <% end %>
      </tr>

  <table id="classic">
  <caption>nombre dossiers (trouvé/total) : <%= @dossiers.count %> / <%= Dossier.all.count %></caption>

    <thead>
      <tr>
        <th><%= sort_link(@search, 'reference', 'Réf.SPANC') %></th>
        <th><%= sort_link(@search, 'commune','commune') %></th>
        <th><%= sort_link(@search, 'secteur','secteur') %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>


    <% @dossiers.each do |dossier|%>
      <%= content_tag_for(:tr,dossier) do %>
        <td><%= link_to(dossier.reference.upcase, dossier)%></td>

        <td><% dossier.immeubles.principal.each do |dodo|%>
            <%= affiche_liste(dodo.commune,'') %>
        <%end %></td>
        <td><%= affiche_liste(dossier.secteur,'') %></td>
        <td><% dossier.users.each do |proprio|  %>
              <%= proprio.username if proprio.username%><br/>
           <%end%></td>
        <td><%= affiche_liste(dossier.etat,'') %></td>
        <td></td>
      <% end %>
    <% end %>
    </tbody>
  </table>



  </div>



  <div class="three column">
    <div class="container box"> <%= link_to 'creer un dossier', new_dossier_path, :class => 'link ajout' %><br/>
    </div>
    <div class="container box">
        <p>Gérer :</p>
      <%= link_to image_tag("icons/ui-combo-box.png", :alt => "termes", :title => "termes") + ' Listes des termes', listes_path%>
    </div>
    <div class="container">
      <p>cliquer sur le numero de dossier pour le voir</p>
    </div>


  </div>

</div>
