<% title "LISTE DES DOSSIERS" %>
<h1>LISTES DES DOSSIERS</h1>

 <div class="twelve_column section">
    <!--
    recherche
    -->
    <%= simple_form_for @search do |f| %>
    <div class="one column">
    <%= sort_link(@search, 'reference', 'Réf.SPANC') %>
    <%= f.input :reference_contains, :as => :search, :label => false %>
    </div>

    <div class="two column">
    <%= sort_link(@search, 'secteur','secteur') %>
    <%= f.input :secteur_contains, :label => false, :collection => Liste.secteur , :label_method => 'nom' %>

    </div>

    <div class="two column">
    <%= sort_link(@search, 'secteur','secteur') %>
    <%= f.input :secteur_contains, :label => false, :collection => Liste.secteur , :label_method => 'nom' %>
</div>
    <div class="two column">
    <%= sort_link(@search, 'secteur','secteur') %>
    <%= f.input :secteur_contains, :label => false, :collection => Liste.secteur , :label_method => 'nom' %>
</div>
    <div class="two column">
    ghj</div>
    <%= f.button :submit %>
    <% end %>
    <%= link_to 'RAZ', root_path %>
    <!--
    fin recherche
    -->





    <% @dossiers.each do |dossier|%>
      <div class="<%= cycle('odd','even') %>">
        <div class="one column border">
        <%= link_to(dossier.reference, dossier)%>
        </div>
        <div class="two column border">
          <% Liste.secteur.where(:id => dossier.secteur).each do |t| %>
          <%= t.nom %>
          <%end%>
          <%= dossier.archivage  %>
        </div>
        <div class="two column border">
          <%= l(dossier.updated_at.to_date) %>
          C'est officiel : la communauté internationale va attaquer la Libye. Le Conseil de sécurité de l'ONU a en effet voté jeudi soir en faveur d'un recours à la force contre les troupes du colonel Mouammar Kadhafi, ouvrant la voie à des frappes aériennes en Libye. La résolution adoptée par le Conseil autorise «toutes les mesures nécessaires» pour protéger les civils et imposer un cessez-le-feu à l'armée libyenne.
        </div>
        <div class="two column">
          des trucs
        </div>
        <div class="two column">
          des trucs
        </div>
      </div>
    <%end%>


  <div class="three column">
    <div class="container box"> <%= link_to 'creer un dossier', new_dossier_path, :class => 'link ajout' %></div>
    Gérer :
    <ul class="container box">
      <li><%= link_to 'Listes des termes', listes_path, :class =>"edit_link"%></li>
  </div>
</div>
