<div class="six_column section">
  <div class="five column border">
    <% title "LISTE DES DOSSIERS" %>
    <!--
    recherche
    -->
    <%= simple_form_for @search do |f| %>
    <%= f.input :reference_contains, :as => :search, :label => false %>
    <%= f.input :secteur_contains, :label => false, :collection => Liste.secteur , :label_method => 'nom', :prompt => 'Par secteur' %>

    <%= f.button :submit %>
    <% end %>
    <%= link_to 'RAZ', root_path %>
    <!--
    fin recherche
    -->


    <p> trier par : <%= sort_link(@search, 'reference', 'Réf.SPANC') %> // <%= sort_link(@search, 'archivage') %> // <%= sort_link(@search, 'secteur','secteur') %></p>
    <% @dossiers.each do |dossier|%>
      <div class="<%= cycle('odd','even') %>">
      <h2><%= link_to(dossier.reference, dossier)%></h2>
          <% Liste.secteur.where(:id => dossier.secteur).each do |t| %>
          <%= t.nom %>
          <%end%>
      <p><%= dossier.archivage  %></p>
      <p><%= l(dossier.updated_at.to_date) %></p>
      </div>
    <%end%>
  </div>

  <div class="aside">
    <div class="container box"> <%= link_to 'creer un dossier', new_dossier_path %></div>
  </div>
</div>
