<% title "Gestion des Listes" %>

<h1>Gestion des listes des menus déroulants</h1>
<%= link_to "retour accueil", root_path, :class =>'retour' %>

<%= simple_form_for @search do |f| %>
<div class="outline">
<%= f.input :partie_or_pour_or_nom_contains, :label =>'chercher' %>
<%= f.submit "CHERCHER"%> <%= link_to 'RAZ', listes_path  %>
<% end %>
</div>

<p><%= link_to "Ajouter une entrée", new_liste_path, :class =>'ajout' %></p>

<% @liste_by_partie.each do |list,pours| %>
        <h2><%= list %></h2>
        <% pours.each do |p|%>
          <div class="<%= cycle("odd", "even")%>">
          <div class="six_column section">
          <% if p.modifiable %>
            <div class="two column quiet"><%= p.pour%></div>
            <div class="two column quiet"><%= link_to p.nom, edit_liste_path(p), :class =>"edit_link" %></div>
            <div class="two column">
            <%= link_to 'Supprimer', p, :confirm => 'Certain(e)??', :method => :delete, :class =>"destroy_link" %>
            </div>
            <% else %>
            <div class="two column"><%= p.pour %></div>
            <div class="two column"><%= p.nom %></div>
            <div class="two column"></div>
          <%end%><!-- fin if -->
          </div>
        </div><!-- fin 6 colonnes -->
        <%end%><!-- fin each p -->
      <%end%>
