<div class="fields outline">
    <div class="two column"><%= f.input :type_alimentation %></div>
    <div class="two column center"><%= f.input :declare %></div>
    <div class="two column center"><%= f.input :analyse_OK %></div>

    <div class="section">
      <div class="two column"><%= f.input :ref_compteur, :label => 'référence compteur' %></div>
      <div class="two column"><%= f.input :conso_moyenne %></div>
      <div class="two column center"><%= link_to_remove_fields "effacer", f %></div>
    </div>
  <%= f.input :commentaire, :as => :string %>
</div>

