<div class="fields">
<%= f.input :type_alimentation %>
<%= f.input :ref_compteur %>
<%= f.input :declare %>
<%= f.input :conso_moyenne %>
<%= f.input :analyse_OK %>
<%= f.input :commentaire %>
<%= link_to_remove_fields "effacer", f %>
</div>
