<% title "Compteurs" %>

<table>
  <tr>
    <th>Type Alimentation</th>
    <th>Ref Compteur</th>
    <th>Declare</th>
    <th>Conso Moyenne</th>
    <th>Analyse Ok</th>
    <th>Immeuble</th>
    <th>Commentaire</th>
  </tr>
  <% for compteur in @compteurs %>
    <tr>
      <td><%= compteur.type_alimentation %></td>
      <td><%= compteur.ref_compteur %></td>
      <td><%= compteur.declare %></td>
      <td><%= compteur.conso_moyenne %></td>
      <td><%= compteur.analyse_OK %></td>
      <td><%= compteur.immeuble_id %></td>
      <td><%= compteur.commentaire %></td>
      <td><%= link_to "Show", compteur %></td>
      <td><%= link_to "Edit", edit_compteur_path(compteur) %></td>
      <td><%= link_to "Destroy", compteur, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Compteur", new_compteur_path %></p>
