<p id="notice"><%= notice %></p>

<p>
  <b>Type hydro:</b>
  <%= @hydro.type_hydro %>
</p>

<p>
  <b>Surf ou long:</b>
  <%= @hydro.surf_ou_long %>
</p>

<p>
  <b>Distance:</b>
  <%= @hydro.distANCe %>
</p>

<p>
  <b>Description:</b>
  <%= @hydro.description %>
</p>

<p>
  <b>Sur anc:</b>
  <%= @hydro.sur_ANC %>
</p>
