<div class="fields">
  <div class="section">

  <div class="three column"><%= f.input :username, :label => 'Nom Prénom' %></div>
  <div class="one column"><%= f.input :fonction, :label => 'Rang/fonction' %></div>
  <div class="one column"><%= f.input :date_arrivee, :as => :string %></div>
  <div class="one column center"><%= f.input :destinataire %> <%= f.input :redevable %></div>
  </div><!-- fin section -->
    <%= f.simple_fields_for :adresses do |builder| %>
      <%= render "adresses/form", :f => builder %>
    <% end %>
    <div class="center box_ajout"><%= link_to_add_fields("Ajouter une adresse", f, :adresses) %></div>
    <%= f.simple_fields_for :phones do |builder| %>
      <%= render "phones/form", :f => builder %>
    <% end %>
    <div class="center box_ajout"><%= link_to_add_fields("Ajouter un téléphone", f, :phones) %></div>
    <%= f.simple_fields_for :mails do |builder| %>
      <%= render "mails/form", :f => builder %>
    <% end %>
    <div class="center box_ajout"><%= link_to_add_fields("Ajouter un mail", f, :mails) %></div>

  <div class="right clearfix destroy_box"><%= link_to_remove_fields "effacer", f %></div>
</div>
