<div class="fields">
      <span class="small quiet"> description des plantations ayant un rapport avec ANC</span>
      <div class="one column"><%= f.input :type_plants %></div>
      <div class="one column center"><%= f.input :sur_ANC %></div>
      <div class="one column"><%= f.input :surf_long %></div>
      <div class="one column"><%= f.input :observations, :as => :string %></div>
      <div class="one column center"><%= link_to_remove_fields "effacer", f %></div>
</div>
