<div class="fields inline">
<%= link_to_remove_fields "effacer", f %>
<%= f.input :piece, :collection => Liste.piece.all(:order => 'nom'), :label_method => 'nom', :as => :select %>
<%= f.input :details %>
<%= f.input :surface, :hint => 'm²' %>
EU<%= f.input :genere_EU %>
PP<%= f.input :est_piece_princ %>

</div>
