<% title "Carnet d'adresses'" %>

<h1>Carnet d'adresse</h1>
<%= link_to "retour accueil", dossiers_path, :class =>'retour' %><br/>

<div class="twelve_column section">

<div class="ten column border">

  <div class="section noprint">
  <%= simple_form_for @search do |f|%>
    <div class="two column"><%= f.input :nom_contains, :label => "Noms" %></div>
    <%# f.text_field :userable_contact_type_username_contains %>
    <div class="two column">
    <%= f.input :categories_equals, :label => 'Catégorie', :collection => Liste.categories.all(:order => 'nom'), :label_method => 'nom', :as => :select %></div>
    <div class="two column bottom"><%= f.button :submit%></div>
    <div class="four column">
    </div>

  <%end%>
  </div>


<% @contacts_by_categories.each do |cat,cont|%>
<h2><div class="fond textright"><%= affiche_liste(cat,'') %></div></h2>


<% cont.each do |contact| %>
<div class="outline">
<div class="large"><%= img_boolean(contact.actif == true,'en activité') %>  <%= link_to contact.nom, contact%>  <div class="right"><%= link_to image_tag("icons/pencil.png", :alt => "modifier", :title => "modifier"), edit_contact_path(contact) %></div> </div>
<div class="container">
    agrément/charte : <%= contact.agrement %> <br/>
    <% if contact.site_web? %>
    site web : <%= contact.site_web %>
    <%end%><br/>
    <h6>liste contacts :</h6>
    <% contact.users.each do |u|%>
      <%= link_to u.username, u %> //
    <%end %>
</div>
</div>
      <%end%>
      <%end%>
</div><!-- fin 10 col -->
<div class="two column">
  <div class="container box">
  <%= link_to "Créer un groupe/société", new_contact_path, :class => "create_link" %>
  </div>
  <div class="container box">
    trier par :
  <li><%= sort_link(@search, 'categories', 'Catégorie') %></li>
  <li><%= sort_link(@search, 'actif','en activité') %></li>
  </div>
</div>
</div><!-- fin section -->
