<% title "Fiche - Carnet d'adresses" %>

<% if @contact.actif == false %>
  <div class="important importext">
  <%= image_tag("danger.png") %><strong> PLUS EN ACTIVITE </strong>
  </div>
<%end%>


<div class=""><h1><%= @contact.nom %></h1></div>
<hr/>
<%= link_to "retour accueil", contacts_path, :class =>'retour' %><br/>


<!--
<div class="twelve_column section">
<div class="ten column">
-->


  <!-- categorie -->
  <div class="box">
    <div class="large">
<%=(affiche_liste(@contact.categories,'')).upcase %>
    </div>
  </div>
  <div class="outline">
  <% if @contact.agrement %>
  n° Agrément / charte : <strong><%= @contact.agrement %></strong>
  <%end%>
  <% if @contact.date_adhesion %>
  , adhésion/agrément le <strong><%= l(@contact.date_adhesion) %></strong>
  <%end%>
  <% if @contact.date_expiration %>
  , expire le <strong><%= l(@contact.date_expiration) %></strong><br/>
  <%end%>
  </div>
  <div class="outline">
    <strong>Site Web : </strong><%= @contact.site_web %>
  </div>

  <div class="outline">
  <strong>Commentaire:</strong><br/>
  <%= simple_format @contact.commentaire %>
  </div>


<hr/>
<h6>Listes des contacts</h6>

<div class="outline">
<% @contact.users.each do |user|%>
  <h2><%= user.username %></h2>
  <%= render 'users/user', :@user => user %>
  <hr/>
<%end %>
</div>

<!--
<div class="two column">
<div class="container box">
-->

<p>
  <%= link_to "Edit", edit_contact_path(@contact) %> |
  <%= link_to "Destroy", @contact, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", contacts_path %>
</p>
<!--
</div>
</div>

</div> <!-- fin 12 col -->
