<p><div class="large"><%= link_to "Retour", dossier_immeubles_path, :class => 'retour' %></div></p>

<div class="twelve_column section">


<%= simple_form_for ([@dossier,@immeuble]) do |f|%>
   <fieldset>
   <legend><%= image_tag("icons/building.png")%> - Renseignements immeubles</legend>
        <% if @immeuble.number.blank? %>
          <%= f.input :number, :input_html => { :value => (@dossier.immeubles.count)+1}, :as => :hidden%>
        <% else %>
          <span class="large"> Immeuble n° : <%= @immeuble.number %></span>
        <% end %>


    <fieldset>
      <legend><%= image_tag("icons/users.png")%> - Usagers de l'immeuble</legend>
          <%= f.simple_fields_for :users do |builder| %>
            <%= render "users/form", :f => builder %>
          <% end %>
      <p><%= link_to_add_fields('Ajouter propriétaire-usager', f, :users) %></p>
    </fieldset>

</div> <!-- fin 12 colonnes -->

<p><%= submit_or_cancel(f)%></p>
<%end%>
