<% unless @immeuble %>
  <%@immeuble = @dossier.immeubles.new%>
<% end %>
<div class="twelve_column section">
                  <fieldset class="outline">
                    <legend>Renseignements immeubles</legend>
          <div class="fields">
                          <%= simple_form_for ([@dossier,@immeuble]) do |f| %>
                            <div class="section">
                            <div class="one column"><%= f.input :numero_rue %></div>
                            <div class="five column"><%= f.input :adresse %>
                            </div></div>

                            <div class="section">
                            <div class="one column"><%= f.input :code_postal %></div>
                            <div class="five column"><%= f.input :commune %>
                            </div></div>

                            <div class="section">
                            <div class="two column"><%= f.input :type_habitat %></div>
                            <div class="two column"><%= f.input :taux_occupation %></div>
                            <div class="two column"><%= f.input :annee_constr%></div>
                            </div>

                            <%= f.input :commentaire %>
                  </fieldset>

                  <fieldset class="outline">
                    <legend>Pièces de l'immeuble</legend>
                        <div class="left"><%= f.input :nb_piece_princ, :as => :select, :collection => 1..20 %></div>
                        <div><%= f.input :nb_eq_hab, :as =>:select, :collection => 1..200 %></div>
                          <%= f.simple_fields_for :liste_pieces do |builder| %>
                          <%= render "liste_pieces/form", :f => builder %>
                          <% end %>
                        <p><%= link_to_add_fields "Ajouter une pièce", f, :liste_pieces %></p>
                  </fieldset>

              <div class="six column top">

                  <fieldset class="outline">
                  <legend>Parcelles</legend>
                      <%= f.simple_fields_for :parcelles do |builder| %>
                        <%= render "parcelles/form", :f => builder %>
                      <% end %>
                      <p><%= link_to_add_fields "Ajouter une parcelle", f, :parcelles %></p>
                  </fieldset>
                <fieldset class="outline top">
                <legend>Alimentation en eau potable</legend>
                  <%= f.simple_fields_for :compteurs do |compt| %>
                    <%= render "compteurs/form", :f => compt %>
                  <% end %>
                  <p><%= link_to_add_fields "Ajouter AEP", f, :compteurs %></p>
                </fieldset>
              </div>
          </div> <!--fin fields-->
  <p><%= f.submit %></p>
<% end %>
</div>

