<p><div class="large"><%= link_to "Retour", dossier_immeubles_path, :class => 'retour' %></div></p>

<div class="twelve_column section">
  <div class="six column">

      <fieldset class="outline">

      <legend><%= image_tag("icons/building.png")%> - Renseignements immeubles</legend>

              <%= simple_form_for ([@dossier,@immeuble]) do |f| %>
                  <% if @immeuble.number.blank? %>
                    <%= f.input :number, :input_html => { :value => (@dossier.immeubles.count)+1}, :disabled =>true%>
                  <% else %>
                    <span class="large"> Immeuble n° : <%= @immeuble.number %></span>
                  <% end %>
                  <%= f.simple_fields_for :adresses do |builder| %>
                    <%= render "adresses/form_immeuble", :f => builder %>
                  <% end %>
              <div class="section">
                <div class="two column"><%= f.input :type_habitat %></div>
                <div class="two column"><%= f.input :taux_occupation %></div>
                <div class="two column"><%= f.input :annee_constr%></div>
              </div>

          <%= f.input :commentaire %>
      </fieldset>

      <fieldset class="outline">
      <legend><%= image_tag("icons/puzzle.png")%> - Pièces de l'immeuble</legend>
          <div class="section outline">
            <div class="one column"><%= f.input :nb_piece_princ, :collection => 1..20 %></div>
            <div class="five column"></div>
          </div>
            <%= f.simple_fields_for :liste_pieces do |builder| %>
              <%= render "liste_pieces/form", :f => builder %>
            <% end %>
          <p><%= link_to_add_fields "Ajouter une pièce",'this', f, :liste_pieces %></p>
      </fieldset>

      <fieldset class="outline">
      <legend><%= image_tag("icons/layer-shape-polygon.png")%> - Parcelles</legend>
            <%= f.simple_fields_for :parcelles do |builder| %>
              <%= render "parcelles/form", :f => builder %>
            <% end %>
            <p><%= link_to_add_fields "Ajouter une parcelle",'this', f, :parcelles %></p>
      </fieldset>


      <fieldset class="outline">
      <legend><%= image_tag("icons/counter.png")%> - Alimentation en eau potable</legend>
            <%= f.simple_fields_for :compteurs do |compt| %>
              <%= render "compteurs/form", :f => compt %>
            <% end %>
        <p><%= link_to_add_fields "Ajouter AEP",'this',f, :compteurs %></p>
      </fieldset>
  </div>

  <div class="six column top">
                <fieldset class="outline">
                <legend><%= image_tag("icons/users.png")%> - Usagers de l'immeuble</legend>
                    <%= f.simple_fields_for :users do |builder| %>
                      <%= render "users/form", :f => builder %>
                    <% end %>
                <p><%= link_to_add_fields "Ajouter propriétaire/occupant",'this', f, :users %></p>
                </fieldset>
  </div>
 </div>
  <p><%= submit_or_cancel(f)%></p>
              <% end %> <!-- fin simple_form-->
</div>



