<table>
  <tr>
    <th>Adresse</th>
    <th>Usager(s)</th>
    <th>type habitat</th>
    <th>Annee Constr</th>
    <th>Année renov</th>
    <th>Nb piece princ</th>
    <th>Nb Eq Hab mini</th>
    <th>Nb Eq Hab maxi</th>
  </tr>

  <% @immeubles.each do |immeuble| %>

    <tr>
    <td><% immeuble.adresses.each do |imm|%>
            <div class="left">
            <%= img_boolean(imm.princ, 'principale') %>
            </div>

            <%= imm.numero_rue %>
            <%= imm.contenu %><br/>
            <%= imm.code_postal %>
            <strong><%= imm.commune.upcase %></strong>

     <%end%>
     </td>
     <td><% immeuble.users.each do |usager| %>
            <%= usager.username %><br/>
            <%= usager.fonction%>
            <% end %>
     </td>
      <td><%= immeuble.type_habitat %></td>
      <td><%= immeuble.taux_occupation %></td>
      <td><%= immeuble.annee_constr %></td>
      <td><%= immeuble.annee_renov %></td>
      <td><%= immeuble.nb_piece_princ %></td>
      <td><%= immeuble.nb_eq_hab_min %></td>
      <td><%= immeuble.nb_eq_hab_max %></td>
      <td><%= link_to 'modifier', edit_dossier_immeuble_path(@dossier,immeuble) %></td>
      </tr>
  <% end %>
</table>
