<div class="outline">

<table>
  <thead>
  <tr>
    <th>N°</th>
    <th>Adresse</th>
    <th>liste Usager(s)</th>
    <th>type habitat</th>
    <th>taux occupation</th>
    <th>Annee Constr</th>
    <th>Année renov</th>
    <th>Nb piece princ</th>
    <th>Nb Eq Hab mini</th>
    <th>Nb Eq Hab maxi</th>
  </tr>
  </thead>
  <% @immeubles.each do |immeubl| %>

    <tr>
    <td>
    <% if immeubl.number == 1 %>
      <div class="importext"><%= immeubl.number %></div>
      <% else %>
      <div class="small"><%= immeubl.number %></div>
      <%end%></td>
    <td><%= immeubl.numero_rue %> <%= immeubl.adresse %><br/>
            <%= immeubl.code_postal %>
            <strong><% list_sect = Liste.commune.find_by_id(immeubl.commune) %></strong>
     </td>
     <td> <% immeubl.users.each do |usager| %>
            <%= link_to usager.username, [usager], :class =>"show_link" %> : <%= usager.fonction%>
          <% end %>
     </td>
      <td><%= immeubl.type_habitat %></td>
      <td><%= immeubl.taux_occupation %></td>
      <td><%= immeubl.annee_constr %></td>
      <td><%= immeubl.annee_renov %></td>
      <td><%= immeubl.nb_piece_princ %></td>
      <td><%= immeubl.nb_eq_hab_min %></td>
      <td><%= immeubl.nb_eq_hab_max %></td>
      <td>
      <%= link_to image_tag("icons/eye.png", :alt => "voir", :title => "voir"), [@dossier,immeubl], :class =>"show_link" %>&nbsp;
      <%= link_to image_tag("icons/pencil.png", :alt => "modifier", :title => "modifier"), edit_dossier_immeuble_path(@dossier,immeubl) %>&nbsp;
      <%= link_to image_tag("icons/cross.png", :alt => "détruire", :title => "détruire"), [@dossier,immeubl] , :confirm => 'Certain(e)??', :method => :delete %>
      </td>
      </tr>
  <% end %>
</table>
</div>
