<div class="outline">

<table id="classic">
  <thead>
  <tr>
    <th>N°</th>
    <th>Adresse</th>
    <th>liste Usager(s)</th>
    <th>type habitat (taux occupation))</th>
    <th>Annee Constr.</th>
    <th>Nb piece princ</th>
    <th>Commentaires</th>
  </tr>
  </thead>
  <% @immeubles.each do |immeubl| %>

    <tr>
    <td>
    <% if immeubl.number == 1 %>
      <div class="importext"><%= immeubl.number %></div>
      <% else %>
      <div class="small"><%= immeubl.number %></div>
      <%end%></td>
    <td><%= immeubl.numero_rue %> <%= immeubl.adresse %><br/>
            <%= immeubl.code_postal %> <strong><%= affiche_liste(immeubl.commune,'')%></strong>
     </td>
     <td> <% immeubl.users.each do |usager| %>
            <%= link_to usager.username, [usager] %><span class="small">(<%= affiche_liste(usager.fonction,'')%>)</span><br/>
          <% end %>
     </td>
      <td><%= affiche_liste(immeubl.type_habitat,'') %> <span class="small">(<%= affiche_liste(immeubl.taux_occupation,'') %>) </span></td>
      <td><%= immeubl.annee_constr %></td>
      <td><%= immeubl.nb_piece_princ %></td>
      <td><%= immeubl.commentaire %></td>
      <td>
      <%= link_to image_tag("icons/eye.png", :alt => "voir", :title => "voir"), [@dossier,immeubl]%>&nbsp;
      <%= link_to image_tag("icons/pencil.png", :alt => "modifier", :title => "modifier"), edit_dossier_immeuble_path(@dossier,immeubl) %>&nbsp;
      <%= link_to image_tag("icons/cross.png", :alt => "détruire", :title => "détruire"), [@dossier,immeubl] , :confirm => 'Certain(e)??', :method => :delete %>
      </td>
      </tr>
  <% end %>
</table>
</div>
