<% title @immeuble.id %>

<% @immeuble.adresses.each do |adresse|%>
<p>
  <strong>Numero Rue:</strong>
  <%= adresse.numero_rue %>
  <strong>Adress:</strong>
  <%= adresse.contenu %>
</p>
<p>
  <strong>Code Postal:</strong>
  <%= adresse.code_postal %>
</p>
<p>
  <strong>Commune:</strong>
  <%= adresse.commune %>
</p>
<% end %>
<p>
  <strong>Residence:</strong>

</p>
<p>
  <strong>Taux Occupation:</strong>
    <%= @immeuble.taux_occupation%>
</p>
<p>
  <strong>Annee Constr:</strong>
  <%= @immeuble.annee_constr %>
</p>
<p>
  <strong>Nb Piece Princ:</strong>
  <%= @immeuble.nb_piece_princ %>
</p>
<p>
  <strong>Dossier:</strong>
  <%= @immeuble.dossier_id %>
</p>

<p>
  <%= link_to "Edit", edit_dossier_immeuble_path(@immeuble) %> |
  <%= link_to "Destroy", [@dossier,@immeuble], :confirm => 'Are you sure?', :method => :delete %> |
</p>
