<div class="fields">
<fieldset class ="outline">
 <%= f.input :origine, :input_html => {:class=>'bunga ui-droppable'}%>
 <%= f.input :type_pretr %>
 <%= f.input :materiau %>
 <%= f.input :volume %>
 <%= f.input :sortie %>
 <%= f.input :ecoulement %>
 <%= f.input :etancheite %>
 <%= f.input :vue %>
  <%= link_to_remove_fields "effacer", f %>
</fieldset>
</div>
