<div class="fields">
      <span class="small quiet"> indiquez suivant rose des vents</span>
      <div class="one column"><%= f.input :depart %></div>
      <div class="one column"><%= f.input :arrivee %></div>
      <div class="one column"><%= f.input :pourcentage %></div>
      <div class="one column"><%= f.input :longueur %></div>
      <div class="one column"></div>
      <div class="one column center"><%= link_to_remove_fields "effacer", f %></div>
</div>
