<div class="fields outline">
      <%= f.input :type_adresse, :collection => Liste.type_adresse.all(:order => 'nom'), :label_method => 'nom', :as => :select %>  <%= link_to_remove_fields "effacer", f %>
      <div class="one column"><%= f.input :numero_rue %></div>
      <div class="five column"><%= f.input :contenu, :label => "adresse"%></div>
  <div class="section">
        <div class="one column"><%= f.input :code_postal %></div>
        <div class="five column"><%= f.input :commune %></div>
  </div>
</div>
