<% title "Adress" %>

<p>
  <strong>Num Rue:</strong>
  <%= @adress.num_rue %>
</p>
<p>
  <strong>Location:</strong>
  <%= @adress.location %>
</p>
<p>
  <strong>Code Postal:</strong>
  <%= @adress.code_postal %>
</p>
<p>
  <strong>Commune:</strong>
  <%= @adress.commune %>
</p>
<p>
  <strong>Liste:</strong>
  <%= @adress.liste_id %>
</p>
<p>
  <strong>Contact:</strong>
  <%= @adress.contact_id %>
</p>

<p>
  <%= link_to "Edit", edit_adress_path(@adress) %> |
  <%= link_to "Destroy", @adress, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", adresses_path %>
</p>
