<div class="fields">
  <fieldset>
    <legend>Epandage</legend>
    <div class="left"><%= image_tag("tranchee.png", :size => "360x180",:alt => "epandage") %></div>
    <div class="one column"><%= f.input :type_renseignements %></div>
    <div class="one column"><%= f.input :nb_epandage, :collection =>1..8 %></div>
    <div class="one column">
    <%= f.input :long_epand, :label =>'longueur épandage' %></div>
    <div class="one column"><%= f.input :largeur_epand, :label=>'largeur tranchées' %></div>
    <%= f.input :profondeur %>
    <%= f.input :entraxes %>
    <%= f.input :epaisseur_graviers %>
    <%= f.input :calibre_graviers %>
    <%= f.input :saturation %>
    <%= f.input :ok %>
    <%= f.input :observations %>
  </div>
  <div class="clear">

  <%= f.simple_fields_for :regards do |builder| %>
    <%= render "regards/form", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields("Ajouter un accès", f, :regards) %></p>
  </div>
  </fieldset>
</div>
