<% title "Groupe" %>

<p>
  <strong>Nom:</strong>
  <%= @groupe.nom %>
</p>
<p>
  <strong>Actif:</strong>
  <%= @groupe.actif %>
</p>
<p>
  <strong>Agrement:</strong>
  <%= @groupe.agrement %>
</p>
<p>
  <strong>Date Expiration:</strong>
  <%= @groupe.date_expiration %>
</p>
<p>
  <strong>Commentaire:</strong>
  <%= @groupe.commentaire %>
</p>

<p>
  <%= link_to "Edit", edit_groupe_path(@groupe) %> |
  <%= link_to "Destroy", @groupe, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", groupes_path %>
</p>
