<div class="nine_column section">
<div class="one column"><%= f.input :debut %></div>
<div class="one column"></div>
<div class="one column"><%= f.input :type_horizon %></div>
<div class="one column"><%= f.input :couleur %></div>
<div class="one column"><%= f.input :hydromorphie %></div>
<div class="one column"><%= f.input :texture %></div>
<div class="one column"><%= f.input :abondance_pierrosite %></div>
<div class="one column"><%= f.input :taille_pierrosite %></div>
<div class="one column"><%= f.input :compacite %></div>
</div>
<div class="nine_column section">
<div class="one column"><%= f.input :fin %></div>
<div class="one column"></div>
<div class="one column"><%= f.input :abondance_racine %></div>
<div class="one column"><%= f.input :transition_horizon %></div>
<div class="five column"></div>
</div>
<div class="nine_column section">
<div class="two column"></div>
<div class="seven column"><%= f.input :observations %></div>
</div>
<hr/>
