<fieldset class="outline">
  Entretien fait le :
  <strong><%= l(@entretien.date_entretien) %></strong>
  <hr/>
  <h2><%= affiche_liste(@entretien.type_entretien,'type : ') %> ---> <%= @entretien.ouvrage %></h2>
<div class="box">
    <p>
      <% if @contact %>
    <div class="right">
      actif : <%= img_boolean(@contact.actif == true,'actif') %><br/>
      agréé : <%= img_boolean(@contact.agrement,'agréé') %> <span class="small quiet"> (n° : <%= @contact.agrement %>)</span>
    </div>
    <%end%>
    <span class="large">
    Vidangeur/nettoyeur :
    <% if @contact %>
      <strong><%= @contact.nom %></strong>
    <% else %>
      <strong>non renseigné</strong>
    <%end%>
      </span>
      </p>
    <p>Numéro Bordereau:
    <strong><%= @entretien.num_bordereau %></strong></p>
    <p>Numéro Véhicule:
    <strong><%= @entretien.num_vehicule %></strong>
    </p>
    <p>Quantité:
    <strong><%= @entretien.quantite %></strong> m<sup>3</sup></p>
    <p>Destination Boue:
    <strong><%= @entretien.destination_boue %></strong></p>
</div>
  <hr/>
  <strong>Observations:</strong>
  <%= simple_format(@entretien.observations) %>
</fieldset>
