<% title @dossier.reference %>
<%= render ('layouts/navigation') %>

<p><div class="large"><%= link_to "Retour", dossier_entretiens_path, :class => 'retour' %></div></p>

<div class="twelve_column section">

<div class="ten column border">
<%= render "entretien" %>
</div>

<div class="two column">
  <div class="container box">
  <%= link_to "Modifier", edit_dossier_entretien_path(@dossier, @entretien), :class => "edit_link" %><br/>
  <%= link_to "Effacer", [@dossier,@entretien], :confirm => 'Are you sure?', :method => :delete, :class => "destroy_link" %><br/>
  </div>
  <div class="container outline">
    <div class="small quiet">
      créé le : <%= l(@entretien.created_at) %><br/>
      modifié le : <%= l(@entretien.updated_at) %>
    </div>
  </div>
</div>
</div>
