<div id="nav">
  <% tabs_tag do |tab| %>
    <%= tab.dossier 'Dossier', @dossier %>
    <%= tab.immeuble 'Immeuble(s)', immeubles_url(:dossier_id => @dossier.id) %>
    <%= tab.installation 'Installation(s)', listes_path %>
    <%= tab.controle 'Contrôle(s)', listes_path %>
    <%= tab.compta 'compta', listes_path %>
    <%= tab.document 'Documents', listes_path %>
    <%= tab.projet 'Projet', listes_path %>
  <% end %>
</div>
