<div class="twelve_column section">
  <div class="two column"><%= content_tag :h1, yield(:title) if show_title? %></div>
  <div class="two column"><h2> Nom proprio </h2></div>
  <div class="two column"><h3>
  <% Liste.secteur.where(:id => @dossier.secteur).each do |t| %>
  <%= t.nom %>
  <% end %></h3></div>
  <div class="two column"></div>
  <div class="four column"></div>
</div>


<div id="nav">
  <%= tabs_tag do |tab| %>
    <%= tab.accueil image_tag("icons/folders-stack.png", :size => "12x12", :alt => "liste dossiers"), dossiers_path %>
    <%= tab.dossier 'dossier', @dossier %>
    <%= tab.immeuble 'Immeuble(s)', dossier_immeubles_path(@dossier) %>
    <%= tab.installation 'Installation(s)', listes_path %>
    <%= tab.entretien 'Entretien(s)', listes_path %>
    <%= tab.controle 'Contrôle(s)', listes_path %>
    <%= tab.projet 'Projet', listes_path %>
    <%= tab.compta 'compta', listes_path %>
    <%= tab.document 'Documents', new_user_path %>

  <% end %>
</div>
