<div id="topmenu">
<ul>
  <% if logged_in? %>
    <li><%= link_to "ACCUEIL", dossiers_path %></li>
    <li><%= link_to 'CALENDRIER', calendar_path%></li>
    <li><%= link_to 'CONTACTS', contacts_path %></li>
    <li><a href="wiki">AIDE</a></li>

    <span class="right">
    <li><%= link_to current_user.username, current_user %></li>
    <li><%= link_to 'logout', logout_path %></li>
    </span>
  <% else %>
    <li class="right"><%= link_to 'login', login_path %></li>
  <% end %>
</ul>
</div>
