<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "reset.css","typography.css","forms.css","fluid.gs.css", :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'application.css',"event_calendar.css", :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/cupertino/jquery-ui.css"%>
    <%= javascript_include_tag "http://code.jquery.com/jquery-latest.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js", "application","event_calendar", "rails" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  <div id="top-menu">
    <%= render ('layouts/topmenu') %>
  </div>
  <div id="main">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <div class="body">
      <% content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </div>

  <div id="footer">
      <span class="small quiet left"> <%= l(Date.today, :format => :long) %></span>
      <span class="small quiet">SpancMan - propulsé par Rails !</span>
  </div>
  </body>
</html>
