<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag 'application.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'elastic.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'elastic.print.css', :media => 'print' %>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css", "application" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js", "application","elastic" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

  <div id="top-menu">
      <ul>
      <% if logged_in? %>
          <li>Bienvenue <%= current_user.username%> -- </li>
          <li><%= link_to 'Nouvel article', root_path%></li>
          <li><%= link_to 'modif password', edit_user_path(current_user) %></li>
          <li><%= link_to 'logout', logout_path %></li>
        <% else %>
          <li><%= link_to 'login', login_path %></li>
        <% end %>
      </ul>
  </div>
  <div id="main">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

    <div class="unit body">
    <%= content_tag :h1, yield(:title) if show_title? %>
        <div class="unit menu">
          <div class="container">
            contenu du header
          </div>
        </div>
        <%= yield %>
    </div>
  </div>

  <div id="main" class="footer">
      <span class="small quiet left"> <%= Date.today %></span>
      <span class="small quiet">SpancMan - propulsé par Rails !</span>
  </div>
  </body>
</html>
