<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag 'application.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'elastic.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'elastic.print.css', :media => 'print' %>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css", "application" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js", "application","elastic" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  <div id="container">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

    <div class="unit header">
      <div class="container">header
      </div>
    </div>

    <div class="unit body">
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
    </div>
  </div>

  <div id="footer">
      <span class="small quiet left"> <%= Date.today %></span>
      <span class="small quiet">SpancMan - propulsé par Rails !</span>
      <div id="user_bar" class ="small right">
        <% if logged_in? %>
          <%= current_user.username%>
          <%= link_to 'Nouvel article', root_path%> <>&nbsp;
          <%= link_to 'modif password', edit_user_path(current_user) %> <>&nbsp;
          <%= link_to 'logout', logout_path %>
        <% else %>
          <%= link_to 'login', login_path %>
        <% end %>
      </div>
    </div>
  </body>
</html>
