<div class="inputs">
    <%= f.input :type_surface %>
    <%= f.input :utilisation %>
    <%= f.input :surf_ou_long %>
    <%= f.input :sur_ANC %>
    <%= f.input :impermeable %>
    <%= f.input :charge %>
  </div>
