<p id="notice"><%= notice %></p>

<p>
  <b>Type surface:</b>
  <%= @surfacique.type_surface %>
</p>

<p>
  <b>Utilisation:</b>
  <%= @surfacique.utilisation %>
</p>

<p>
  <b>Surf ou long:</b>
  <%= @surfacique.surf_ou_long %>
</p>

<p>
  <b>Sur anc:</b>
  <%= @surfacique.sur_ANC %>
</p>

<p>
  <b>Impermeable:</b>
  <%= @surfacique.impermeable %>
</p>

<p>
  <b>Charge:</b>
  <%= @surfacique.charge %>
</p>
